{% extends 'base.html' %}
{% load static %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>

<center>
    <h4>Search by using any language you want ! ابحث بالغة التي تريد</h4>  
    <br>        
    {% include 'search.html' %}
    
<table style="overflow-x:auto;" class="styled-table">
    <thead>
        <tr>
            <th>English</th>
            <th>French</th>
            <th>Arabic</th>
        </tr>
    </thead>
    <tbody>
        {% for word in spatial_geometry_words %}
        <tr>
            <td>{{word.english}}</td>
            <td>{{word.french}}</td>
            <td>{{word.arabic}}</td> 

        </tr>
        {% endfor %}
    </tbody>
</table>
</center>
<style>

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: black;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}


</style>

{% endblock %}